/************************************************
BASE LAYOUT
************************************************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Saira', sans-serif;
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

hr {
  color: #bbb;
  width: 75%;
  margin: 10px auto 20px;
}

/************************************************
HEADER
************************************************/

.search {
  padding: 1em;
  text-align: center;
}

.input-search {
  font-family: 'Saira', sans-serif;
  width: 70%;
  height: 2.4em;
  padding: 0 1em;
  font-size: 1.2em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.input-search:focus {
  outline: none;
}

/************************************************
GALLERY
************************************************/

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.thumbnail {
  width: 50%;
  padding: 10px;
  margin: 15px 0;
  border: 1.5px solid #fff;
  border-radius: 5px;
}

.thumbnail:hover {
  border: 1.5px solid #94C3EA;
  transition: .5s;
}

.thumbnail img {
  width: 100%;
  border-radius: 5px;
}

/************************************************
FOOTER
************************************************/

footer {
  font-size: .8em;
  color: #bbb;
  text-align: center;
  margin-bottom: 20px;
}

/************************************************
LIGHTBOX
************************************************/

.lg-sub-html {
  background-color: rgba(0,0,0,.7);
}

/************************************************
MEDIA QUERIES
************************************************/

@media (min-width: 768px) {
  .thumbnail {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .thumbnail {
    width: 25%;
  }
}
